.tabs {
   
}

.tab-label {
    margin: 0.5rem;
    display: inline-block;
    /* cursor: pointer; */
    background-color: #F5F5F5;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: #5A5A5A;
    border: none;
  }
  .tab-label:hover {
    background-color: #F5F5F5;
  }
  .tab-label:focus {
    box-shadow: none;
  }
  .tab-label[data-active="true"] {
    background-color: #484848;
    color: #BFBFBF;
  }
  .tab-content {
    padding: 1.5rem 1rem;
    border-top: 7px solid #F5F5F5;
    background-color: white;
  }
  .tab-content:not([data-active="true"]) {
    display: none;
  }
  
.child-content {
    display: flex;
    align-items: center;

}


  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .tab-label { 
        width: 86px;
        height: 30px;
    } 

}

 i {
      width: 24px;
      height: 30px;
  }

  .main {
    display: flex;
  }
  
  .iconbox {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
  }
  
  .icon {
    margin-right: 10px;
    /* border: 1px solid red; */
    /* font-size: 42px; */

    height: 19.47pt;
    width: 13.32pt;
    display: grid;
    place-content: center;
    color: #484848;
  }
  
  h3 {
    margin: 0;
    font-family: 'Open Sans, Semibold', sans-serif; 
    font-weight: 'Semibold'; 
    font-size: 15pt;
    line-height: 20px; 
    margin-bottom:-15px; 
    color: #484848;
    padding: 0;  
  }
  
  p {
    margin: 5px 0 0;
  }




 .blurb-content {
    display:flex;
    flex-direction:column;
    width: 316px;
    padding-left: 5px; 
    
}


  .blurb-content p.title {
   font-family: 'Open Sans, Semibold', sans-serif;  
   font-size: 15pt;
   line-spacing: 20px; 
   margin-bottom:-15px; 
   color: #484848;
   padding: 0;
    margin: 0; 

  }
  .blurb-content p {
    color: #48525B;
    font-family: "Open Sans",sans-serif;
    font-size: 12.5pt;
    line-height: 20px;
    letter-spacing: 0;}




    


    