.App {
  text-align: center;
}

.stock-container {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
}
.header {
  background-color: #fff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #10375c;
}

input {
  width: 250pt;
  height: 36pt;
}
.input-field {
  margin: 0.5rem;
  border: 1px solid #BFBFBF;
  color: #5A5A5A;
  padding-left: 2px;
}

.wrapper {
  max-width: 480px;
  margin: 0 auto;
}

.header-box {
  display: flex;
}

.header-box .box-row {
  display: flex;
  align-items: center;
  position: relative;
}

.header-box .line {
  border-right: dotted 3px black;
  height: 100%;
  display: block;
  position: absolute;
  left: 19px;
  top: 50%;
}

.header-box .icon {
  width: 40px;
  padding: 5px 0;
  background-color: #fff;
  position: relative;
}

.header-box .icon-back {
  padding-top: 24px;
}
button.input-field {
  background-color: #fff;
  border: none;
}